<template name="zutatListe">
  <div class="panel panel-default pizza">
    <div class="panel-body">
      <a href="erstelleZutat">Zutat neu</a> | <a href="" title="noch nicht implementiert">Rezept aus Zutaten anlegen</a>

  <table class="table table-bordered">
       <thead>
         <tr>
           <th>Zutat</th>
           <th>Lebensmittelkategorie</th>
           <th>Art der Beilage</th>
           <th>Zubereitungsart</th>
         </tr>
       </thead>
       <tbody>



  {{#each zutaten}}
    <tr>
    {{> zutat}}
   </tr>
  {{else}}
    {{#if isProfile}}
      <p class="alert alert-info">You don't have any custom pizzas, cadet. Order now to add one.</p>
    {{else}}
      <p class="alert alert-info">No custom pizzas found. Click the Build a Pizza tab to create one!</p>
    {{/if}}
  {{/each}}

</tbody>
</table>
</div>
</div>
</template>
