<template name="zutatEintrag">
  <div class="panel-wrapper panel-default-wrapper rundung">
   <div class="panel-heading">
  <!--<h2>Erstelle Zutat</h2> -->
  <br>
  <form>
  <div class="form-group">
    <label>Zutat: </label>
    <input type="text" class="forminput" id="Zutat" title="z.B.Pommes" /> <!-- value="Knödel"/> -->
  </div>
  <div class="form-group">

  <label>Lebensmittelkategorie</label>
  <select class="form-select" id="Lebensmittelkategorie">
    <option>Getreide oder Getreideprodukt</option>
    <option>Kartoffel oder Kartoffelprodukte</option>
    <option>Obst, Obsterzeugnisse, Trockenobst</option>
    <option>Gemüse & Hülsenfrüchte</option>
    <option>Nüsse und Samen</option>
    <option>Fleisch und Fleischwaren</option>
    <option>Fisch und Fischprodukte</option>
    <option>Milch und Milchprodukte</option>
    <option>Eier und Eierspeisen</option>
    <option>Öle und Fette</option>
    <option>Süßwaren und Zucker</option>
    <option>Konserven</option>
    <option>Fertiggerichte</option>
    <option>Saucen & Würzmittel</option>
    <option>Gewürze & Kräuter</option>
    <option>Alkoholfreie Getränke</option>
    <option>Alkoholhaltige Getränke</option>
  </select>
</div>  <div class="form-group">
    <label>Art der Beilage: </label>
    <select class="form-select" id="Beilagenart">
      <option>Sättigungsbeilage</option>
      <option>Hauptkomponente</option>
      <option>Garnitur</option>
      <option>Ragout</option>
      <option>Fleisch</option>
      <option>Fisch</option>
      <option>Gemüse</option>
      <option>Soße</option>
      <option>Süßspeise</option>
      </select>

    </div>
    <div class="form-group">

    <label>Zubereitungsart: </label>
    <select class="form-select" id="Zubereitungsart">
      <option>roh</option>
      <option>pochiert</option>
      <option>gekocht</option>
      <option>fritiert</option>
      <option>gebraten</option>
      <option>pochiert</option>
      <option>gedämpft</option>
      <option>gebacken</option>
      <option>sautiert</option>
      </select>

    </div>
  <a href="/" type="button" class="btn btn-default">Abbruch</a>
  <input type="submit" class="btn btn-primary" value="Anlegen">

<br></form><br>
</div>
</div>
<a href="../../">zur&uuml;ck</a>
</template>
